[Desktop Entry]
Type=Application
Name=Echo Music
Comment=Music player
Exec=echo-music
Icon=echo-music
Categories=AudioVideo;Audio;Music;Player;
StartupWMClass=echo-music
